$primary-color: #e19720;
$primary-color--light: #fad61d;
$secondary-color: #811e09;
$secondary-color--light: #f62d14;

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
}
